body { background: #85f0a9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 15px; display: flex; }
.block-notify-0 { color: #a8d8fe; font-size: 13px; margin-bottom: 5px; }
.block-search-1 { color: #dc0907; font-size: 17px; margin-bottom: 5px; }
.block-search-2 { color: #9e4374; font-size: 15px; margin-bottom: 5px; }
.block-token-3 { color: #5ebd56; font-size: 20px; margin-bottom: 5px; }
.block-email-4 { color: #f38bb7; font-size: 18px; margin-bottom: 5px; }
.block-product-5 { color: #aed051; font-size: 21px; margin-bottom: 5px; }
.block-payment-6 { color: #a0a220; font-size: 21px; margin-bottom: 5px; }
.block-notify-7 { color: #45139a; font-size: 17px; margin-bottom: 5px; }